.pageWrapper {
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.page {
    padding: 5px 10px;
    border: 1px solid blueviolet;
    cursor: pointer;
}

.page.current {
    border: 3px solid blueviolet;
    font-weight: bold;
    background-color: rgba(137, 43, 226, 0.3);
}