* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 2px solid blueviolet;
    margin: 15px;
    justify-content: space-between;
}

.post__content {
    padding: 10px;
}

.post_buttons {
    display: flex;

}

.post__btn {
    width: fit-content;
    margin: 0 5px;
}

.postAddForm {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.post__filter {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.post-enter {
    opacity: 0;
}

.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    opacity: 0;
    transform: translateX(-350px);
    transition: opacity 500ms ease-in;
}

h1 {
    color: rgb(138, 60, 226);
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}